body {
	margin: 0;
	overflow: hidden;
	/* background-color: black; */
}

#homeScreen {
	display: block;
	margin: auto;
	background-color: darksalmon;
	height: 100dvh;
}

#gameScreen {
	display: none;
	margin: auto;
	background-color: black;
	color: white;
	height: 100dvh;
}

#resultScreen {
	display: none;
	margin: auto;
	background-color: lightblue;
	height: 100dvh;
}

#spaceship {
	position: absolute;
	width: 4rem;
}

#projectile {
	position: absolute;
	width: 0.4rem;
	border-radius: 15px;
	aspect-ratio: 1;
	background-color: white;
}
