body {
	margin: 0;
	overflow: hidden;
	/* background-color: black; */
}

/*****************************
*	Home View
******************************/
#homeScreen {
	display: block;
	margin: auto;
	background-color: darksalmon;
	height: 100dvh;
}

/*****************************
*	Result View
******************************/
#resultScreen {
	display: none;
	margin: auto;
	background-color: lightblue;
	height: 100dvh;
}

/*****************************
*	Game View
******************************/
#gameScreen {
	display: none;
	position: relative;
	margin: auto;
	background-color: black;
	color: white;
	height: 100dvh;
	z-index: 100;
}

/* ＧＡＭＥ　ＯＢＪＥＣＴＳ*/
#spaceship {
	position: absolute;
	width: 4rem;
}

.projectile {
	position: absolute;
	border-radius: 15px;
	aspect-ratio: 1;
	background-color: white;
}

.asteroid {
	position: absolute;
	aspect-ratio: 1;
}

/* ＥＦＦＥＣＴＳ */
/* prettier-ignore */
@keyframes shake {
	0% { transform: translateX(0); }
	12.5% { transform: translateX(-10px); }
	25% { transform: translateX(10px); }
	37.5% { transform: translateX(-10px); }
	50% { transform: translateX(10px); }
	62.5% { transform: translateX(-10px); }
	75% { transform: translateX(10px); }
	87.5% { transform: translateX(-10px); }
	100% { transform: translateX(0); }
}

.shake {
	animation: shake 0.5s linear; /* 0.5s duration and ease timing */
	animation-iteration-count: 1; /* Can be adjusted for more shakes */
}

/* ＢＡＣＫＧＲＯＵＮＤ */
#backgroundImageSolid {
	background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.7)),
		url('../images/game-background-1.jpg');
	background-size: auto 135%;
	background-position: center;
	background-repeat: no-repeat;
	filter: blur(1px) brightness(170%) contrast(120%) saturate(80%);

	position: absolute;
	z-index: -1000;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

#backgroundImageTransparent {
	background-image: url('../images/game-background-2.png');
	background-size: auto 160%;
	background-position: center;
	background-repeat: repeat;
	filter: blur(0px) brightness(170%) contrast(120%) saturate(80%);

	position: absolute;
	z-index: -900;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
